<header class="main-header">
  <div class="header-left">
    <span class="logo">
      <i class="fas fa-wheelchair" style="margin-right: 8px;"></i> SafeParking
    </span>
  </div>

  <div class="header-center">
    <input type="text" class="search-input" placeholder="Buscar por placa..." [(ngModel)]="searchPlate"
      (input)="filterCars()" />
  </div>

  <div class="header-right">
    <button class="logout-button icon" (click)="logout()" title="Cerrar sesión">
  <i class="fas fa-sign-out-alt"></i>
</button>

  </div>
</header>



<section class="section-header">
  <h2>AUTOS INFRACCIONADOS</h2>
</section>

<section class="cardview-wrapper">
  <div class="car-gallery">
    <div class="car-card" *ngFor="let car of filteredCars">
      <img [src]="car.image" [alt]="car.plate" />
      <div class="car-info">
        <ng-container *ngIf="editingPlate === car.id; else displayMode">
          <input type="text" [(ngModel)]="tempPlate" placeholder="Nuevo nombre de imagen" />
          <div class="actions">
            <button class="btn-action confirm" title="Guardar" (click)="updateCarPlate(car)">
              <i class="fas fa-check"></i>
            </button>
            <button class="btn-action cancel" title="Cancelar" (click)="cancelEdit()">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </ng-container>


        <ng-template #displayMode>
          <p>{{ car.plate }}</p>
          <div class="actions">
            <button class="btn-action edit" title="Modificar" (click)="startEditingPlate(car)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn-action save" title="Descargar" (click)="downloadImage(car.image)">
              <i class="fas fa-download"></i>
            </button>
            <button class="btn-action delete" title="Eliminar" (click)="deleteImage(car)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>


        </ng-template>
      </div>
    </div>
  </div>
</section>